ultralytics>=8.0.0
fast-plate-ocr[onnx]>=1.0.0
fastapi>=0.100.0
uvicorn>=0.20.0
pydantic>=2.0.0
requests>=2.31.0
opencv-python>=4.8.0
pillow>=10.0.0
torch>=2.0.0  # pip install torch torchvision --index-url https://download.pytorch.org/whl/cu126
torchvision>=0.15.0
kagglehub>=0.3.0
